
.imagePrimary{
    overflow: hidden;
    margin-right: 1px;
    width: 50%;
    height: 100%
}
.imageWrapper{
    overflow: hidden;
    margin: 1px;
    width: calc(25% - 2px);
    height: calc(50% - 2px)
}

.listingImg{
    transition: transform .7s;
    width: 100%;
    height: 100%;
}

.listingImages{
    height: 35em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFF;
    width: 100%
}
.listingBody{
    display: flex;
    margin: 0 auto;
    max-width: 70vw;
    justify-content: center;
}
.listInfoContainer{
    max-width: 80vw;
}
.listingHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: wrap;
}
.detailSpan{
    margin-right: 1em;
}
.stickyBooking{
    display: flex;
    justify-content: center;
    background-color: #AAA;
    width: 40em;
    margin: 1em;
}

.listingImg:hover, .listingPrimary:hover{
    transform: scale(1.05)
}
