.imagePrimary{
    overflow: hidden;
    margin-right: 1px;
    width: 50%;
    height: 100%
}
.imageWrapper{
    overflow: hidden;
    margin: 1px;
    width: calc(25% - 2px);
    height: calc(50% - 2px)
}
.imageContainer{
    width: 100%;
    height: 100%;
    display: none;
    
}
.imageContainerHovered{
    width: 100%;
    height: 100%;
    display: contents;
    background: rgba(136, 134, 134, 1)
}
.imageContainerHovered:hover{
    display: contents;
}


.listingImg{
    transition: transform .7s, opacity .7s;
    width: 100%;
    height: 100%;
}
.listingImg:hover{
    transition: transform .7s, opacity .7s;
    width: 100%;
    height: 100%;
}
.listingImgHover{
    transition: transform .7s, opacity .7s;

    opacity: .7;
    width: 100%;
    height: 100%;
}
.listingImgHover:hover{
    opacity: 1;
    transform: scale(1.05);
    transition: transform .7s;
    
}
/* .listingImgHover:after{
    transform: scale(1);
    transition: transform .7s, opacity .7s;

} */

.listingImages{
    height: 35em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #000;
    width: 100%
}
.listingBody{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.listInfoContainer{
    max-width: 40vw;
    line-height: 1.5;
    font-size: 16px
}
.listingHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: wrap;
}
.detailSpan{
    margin-right: 1em;
}
.stickyBooking{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    width: 376px;
    margin-left: 45px;
    
    padding: 12px 24px ;
    height: 30em;
    position: sticky;
    top: 20px
}


.hostProfile{
    width: 5em;
    height: 5em;
    border-radius: 20em;
}
.amenityWrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.amenityTrue, .amenityFalse {
    width: 50%;
    padding-top: 1em;
    font-size: 16px;
    color: #555;
    align-items: center;
    
}

.amenityFalse{
    color: #DDD;
}

.cost{
    font-size: 22px;
}
.request{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #FF5A5F;
    color: white;
    font-size: 16px;
    border: none;
    margin: 0 auto
}

.DateInput_input{
    width: 100%;
    font-size: 16px;
}
.DateRangePicker{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.DateRangePickerInput{
    width: 100%;
}
.bookingLabels{
    font-size: 12px
}
