* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.new-property-listing {
    height: 110rem;
}

.main-body-property {
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 25rem;
    margin-left: 9rem;
}

.right-side {
    width: 35rem;
    margin-right: 9rem;
    margin-top: 4rem;
}

.step-one {
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.5rem;
}

.new-property-listing h1 {
    color: rgba(63, 63, 63, 0.925);
    font-weight: lighter;
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 3.8rem 0rem 1rem 9rem;
    width: 34rem;
    padding-bottom: 1rem;
    border-bottom: .1rem solid rgb(3, 155, 160);
}

.new-property-listing h2 {
    width: 22rem;
    color: rgba(63, 63, 63, 0.925);
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 1.3rem;
}

.right-side h2 {
    width: 30rem;
}

.new-property-listing h6 {
    font-size: .8rem;
    color: #B1B1B1;
    letter-spacing: .05rem; 
}

.location {
    display: flex;
    flex-direction: column;
}

.new-property-listing select {
    color: rgba(63, 63, 63, 0.925);
    background: transparent;
    border: .04rem solid rgba(177, 177, 177, 0.534);
    width: 9.7rem;
    margin-right: .6rem;
    height: 2rem;
    font-size: .9rem;
}

.step-two {
    color: #3F3F3F;
    height: 24rem;
}

.beds-counter,
.baths-counter {
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
}

.step-two h6,
.step-three h6 {
    margin-bottom: .5rem;
}

.step-three {
    height: 20rem;
    color: #3F3F3F;
}

.amenities {
    display: flex;
    width: 20.4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.amen-container {
    height: 3.2rem;
    width: 16.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amen-container h6 {
    margin-top: .7rem;
    color:rgba(63, 63, 63, 0.7);
    font-size: .88rem;
}

.amen-container input {
    margin-top: .26rem;

}

.step-four textarea {
    height: 9rem;
    width: 26rem;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: .9rem .6rem 0rem 0rem;
    padding-left: .3rem;
    font-size: .9rem;
}

.upload-container {
    width: 26rem;
    height: 20rem;
    border-radius: .4rem;
    border: dashed .13rem #B2B2B2;
    background: rgb(241, 239, 239);
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container button {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.7rem;
}

.uploaded-images-container {
    width: 26rem;
    padding: 1rem 2.5rem;
    height: 33.6rem;
    border-radius: .4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;  
    flex-wrap: wrap; 
    border: dashed .13rem rgb(3, 155, 160);
    position: relative;
}

.uploaded-images-container img {
    margin: .5rem;
}

