.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.dark {
    opacity: .1;
}
/* top header and first 100vh of screen */
.background-img {
    margin: none;
    padding: none;
    border: none;
    width: 100%;
    overflow-y: hidden;
    height: 100vh;
    background-image: url('./backgrounds/yellowbus.jpg');
    background-size: 100% 100%;
    animation:slider 40s infinite linear;
}

.background-container {
    width: 100%;
    height: 100vh;
}

@keyframes slider {
    0% { background-image: url('./backgrounds/yellowbus.jpg')}
    7% { background-image: url('./backgrounds/yellowbus.jpg')}
    14% { background-image: url('./backgrounds/newyork.jpg')}
    21% { background-image: url('./backgrounds/newyork.jpg')}
    28% { background-image: url('./backgrounds/newyork.jpg')}
    35% { background-image: url('./backgrounds/bridge.jpg')}
    42% { background-image: url('./backgrounds/bridge.jpg')}
    49% { background-image: url('./backgrounds/bridge.jpg')}
    56% { background-image: url('./backgrounds/cliffJumping.jpg')}
    63% { background-image: url('./backgrounds/cliffJumping.jpg')}
    70% { background-image: url('./backgrounds/cliffJumping.jpg')}
    72% { background-image: url('./backgrounds/yellowbus.jpg')}
}
.homeheader-relative {
    position: relative;
}

.homeheader-absolute {
    position: absolute;
    top: 0;
}

.airbnb-logo2 {
    margin-bottom: 2rem;
    margin-left: .6rem;
    width: 1.6rem;
    height: 1.6rem;
}

.home-header-container {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgba(153,218,255, 0) 0%, rgba(0,0,0,0.2) 100%);
    color: #ffffff;
}

.header-top-left-content {
    margin-left: 1.5%;
}

.header-top-right-content {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link-styles {
    height: 5.5vh;
    font-size: .7rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-family: sans-serif;
}

.link-styles:hover {
    cursor: pointer;
    border-bottom: 3px solid #ffffff;
}

.book-home-content {
    position: relative;
    width: 22rem;
    height: 23rem;
    background-color: #ffffff;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    border-radius: 5px;
    position: absolute;
    top: 15%;
    left: 10%;
    color: rgb(72, 72, 72);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6rem;
    font-weight: 800;
}

.flex-checkinout {
    display: flex;
}

.flex-checkinout .checkout {
    margin-left: 7rem;
}

.padding-input {
    padding-left: .7rem;
}

.flex-check-inout {
    display: flex;
    margin-top: 1rem;
}

.book-unique-homes {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    width: 85%;
    margin-bottom: 1rem;
}

.guests-dropdown {
    width: 18rem;
    height: 2.7rem;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: rgb(72, 72, 72);
}

.guests-dropdown:hover {
    cursor: pointer;
}

.margin-top-guests {
    margin-top: 1rem;
}

/* LOGIN TOGGLE STYLES */
.login {
    position: absolute;
    width: 500px;
    height: 350px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 3px;
    top: calc(50vh - 175px);
    right: calc(50% - 250px);
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
 /* SIGNUP TOGGLE STYLES */
.signup {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 3px;
    top: calc(50vh - 250px);
    right: calc(50% - 200px);
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27%;
    font-size: .8rem;
}

.show-password {
    font-size: .7rem;
    color: #039096;
}

.show-password:hover {
    cursor: pointer;
    border-bottom: 1px solid #039096;
}

.already-have-account {
    font-size: .8rem;
}

.login-in-signup {
    color: #039096;
}

.login-in-signup:hover {
    cursor: pointer;
    border-bottom: 1px solid #039096;
}

.dark {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 13;
    opacity: .9;
    overflow: hidden;
}

.hidden {
    display: none;
}

.flex-remember {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

/* explore airbnb */

.explore-link-tags {
    width: 22%;
    text-decoration: none;
    /* border: 1px solid black; */
    height: 9.2vh;
    margin-right: 1rem;
    box-shadow: .03rem .1rem .22rem rgba(63, 63, 63, 0.21);
}

.explore-box {
    width: 90%;
}

.explore-box2 {
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 5rem;
}

.flex-homes {
    display: flex;
    flex-wrap: wrap;
}

.explore-container {
    height: 4.2rem;
    display: flex;
    /* border: 1px solid black; */
    color: #00383ae8;
}

.explore-container div {
    width: 23%;
    height: 3.6rem;
    /* border: 1px solid black; */
    margin-right: 1rem;
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: #3F3F3F;
    box-shadow: .03rem .1rem .22rem rgba(63, 63, 63, 0.21);
}

.explore-container div:hover {
    cursor: pointer;
}

.explore-airbnb {
    margin: 1rem 0;
    letter-spacing: .027rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(72, 72, 72);
    /* border: 1px solid black; */
}

.explore-container img {
    height: 3.6rem;
}

.explore-content {
    display: flex;
    align-items: center;
}

.space {
    margin-left: .8rem;
}

/* Recommended for you content */
.recommended-pictures-box {
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.place-container {
    height: 300px;
    width: 233px;
    border-radius: 3px;
    margin-right: .7rem;
    font-family: sans-serif;
}

.place-container:hover {
    cursor: pointer;
}

.place-relative {
    position: relative;
}

.text-absolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 12%;
    right: 25%;
    color: #ffffff;
    font-size: .8rem;
    font-weight: 900;
}

.text-absolute:hover {
    cursor: pointer;
}

.place-cost {
    font-size: .7rem;
}

.recommended-for-you {
    letter-spacing: .027rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(72, 72, 72);
    margin-top: 2rem;
    margin-bottom: .5rem;
}

/* homes display styling */
.house-box {
    width: 285px;
    height: 285px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(72, 72, 72);
}

.house-box:hover {
    cursor: pointer;
}

.house-box img {
    width: 100%;
    height: 200px;
}

.cost-per-night {
    font-size: .7rem;
}

.home-img {
    border-radius: 5px;
}

/* banner display styling */
.banner-center {
    width: 90%;
    margin-top: 2rem;
    position: relative;
    z-index: 1;
}

.banner-center .banner-img {
    width: 99.5%;
    height: 48vh;
}

.absolute-to-banner {
    /* border: 2px solid pink; */
    width: 30%;
    height: 100%;
    position: absolute;
    color: #ffffff;
    top: 3rem;
    left: 3rem;
}

.absolute-to-banner span {
    margin: .5rem;
    font-size: .7rem;
    letter-spacing: 1px;
}

.absolute-to-banner h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 5px;
}

.absolute-to-banner p {
    font-size: 1.2rem;
}

.absolute-to-banner button {
    margin-top: 1rem;
    width: 7rem;
    height: 2.5rem;
    color: #484848;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    font-weight: 800;
    font-size: .7rem;
}

.absolute-to-banner button:hover {
    cursor: pointer;
}

.flex-logo-experience {
    display:  flex;
    align-items: center;
}

.DateInput_input {
    font-size: 14px;
}