
.airbnb-logo {
    width: 27px;
    height: 25px;
}

.header-top-left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-right-content {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-container {
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid rgba(211, 211, 211, 0.781);
    display: flex;
    justify-content: space-between;
    color: #484848e1;
    font-size: .85rem;
    font-weight: bolder;
}

.airbnb-logo {
    width: 32px;
    height: 31px;
}

.header-top-left-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-right-content {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-top-left-content input {
    margin-left: 1.3rem;
    border: none;
    box-shadow: .06rem .09rem .23rem rgba(58, 57, 57, 0.336);
    width: 21rem;
    height: 2.6rem;
    background-image: url('https://img.icons8.com/material/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: 4% 45%;
    background-size: 5.8%;
}

.header-top-left-content input::placeholder {
    color: #000;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 2.6rem;
}

.header-top-right-content img {
    width: 4rem;
    height: 3.5rem;
    border-radius: 50%;
    box-shadow: .2rem .2rem .3rem rgba(117, 120, 121, 0.425);
    background: url('https://images.unsplash.com/photo-1440469772164-ac6ddc8656fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
}

.header-top-right-content {
    text-decoration: none;
}

.menu {
    width: 18rem;
    height: 25rem;
    background: #fff;
    position: absolute;
    top: -30rem;
    right: 0rem;
    transition: .65s;
    z-index: 1;
    box-shadow: -.18rem .25rem .32rem rgba(155, 153, 150, 0.325);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: .5rem 1.1rem;
}

.menu hr {
    width: 15.8rem;    
    opacity: .3;
}

.slide {
    top: 5.9rem;
}