@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}    

@keyframes spin {
    0%   { transform: rotate(0deg);
           color: red; 
    }
    100% { transform: rotate(360deg); }
  }



  .logo-animation {
      position: absolute;
      top: 14rem;
      left: 9.7rem;
      animation: spin 2.5s linear infinite;
    }
    
    .logo-animation img {  
        width: 5rem;
    }

    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
      }
      