* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

.property-confirm {
    height: 100vh;
    position: relative;
    background-image: url('https://a0.muscache.com/airbnb/static/photos.6f837cb4.png');
    background-size: 30rem;
    background-repeat: no-repeat;
    background-position: 8.2% 100%;
    position: relative;
}

.main-content-prop {
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 14rem;
    right: 13rem;
}

.property-info {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: .8rem;
}
